{% extends "layout.html.twig" %}
{% block contenu %}
<body id="bg">
    <!-- start: Content -->
    <div id="content" class="span12">


        <div class="row-fluid">

            <div class="widget blue span5" onTablet="span4" onDesktop="span5">



                <div class="row-fluid">
                    <div style="height:224px;">
                        <div class="widget yellow span6" onTablet="span6" onDesktop="span6">
                            Ceci est la page des evenements
                        </div><!--/span-->
                        <div class="widget yellow span6" onTablet="span6" onDesktop="span6">
                        </div><!--/span-->

                    </div>

                </div>

            </div><!--/span-->
            <div class="span7 widget blue " onTablet="span8" onDesktop="span7">



                <div class="content">
                    <div style="height:224px;"></div>




                </div>

            </div><!--/span-->




        </div>

        <div class="row-fluid">

            <div class="widget blue span5" onTablet="span4" onDesktop="span5">



                <div class="row-fluid">
                    <div style="height:224px;">
                        <div class="widget yellow span6" onTablet="span6" onDesktop="span6">
                            Ceci est la page des evenements
                        </div><!--/span-->
                        <div class="widget yellow span6" onTablet="span6" onDesktop="span6">
                        </div><!--/span-->

                    </div>

                </div>

            </div><!--/span-->
            <div class="span7 widget blue " onTablet="span8" onDesktop="span7">



                <div class="content">
                    <div style="height:224px;"></div>




                </div>

            </div><!--/span-->




        </div>
        <div class="row-fluid">

            <div class="widget blue span5" onTablet="span4" onDesktop="span5">



                <div class="row-fluid">
                    <div style="height:224px;">
                        <div class="widget yellow span6" onTablet="span6" onDesktop="span6">
                        </div><!--/span-->
                        <div class="widget yellow span6" onTablet="span6" onDesktop="span6">
                        </div><!--/span-->

                    </div>

                </div>

            </div><!--/span-->
            <div class="span7 widget blue " onTablet="span8" onDesktop="span7">



                <div class="content">
                    <div style="height:224px;"></div>




                </div>

            </div><!--/span-->




        </div>
        <div class="row-fluid">

            <div class="widget blue span5" onTablet="span4" onDesktop="span5">



                <div class="row-fluid">
                    <div style="height:224px;">
                        <div class="widget yellow span6" onTablet="span6" onDesktop="span6">
                        </div><!--/span-->
                        <div class="widget yellow span6" onTablet="span6" onDesktop="span6">
                        </div><!--/span-->

                    </div>

                </div>

            </div><!--/span-->
            <div class="span7 widget blue " onTablet="span8" onDesktop="span7">



                <div class="content">
                    <div style="height:224px;"></div>




                </div>

            </div><!--/span-->




        </div>

    </div>

    </div>



</body>

{% endblock %}

